<%- include('parts/header.ejs')%>
<br>
<br>
<br>
<br>
<br>
<div class="container ">
    <div class="row">
      <div class="col">
        <img src="/uploads/<%=books.image%>" alt="">
      </div>
      <div class="col">
        <h1><%=books.title%></h1><h4><%=books.author%></h4>
        <span><%=books.price%>$</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quis laudantium doloribus quam reprehenderit ratione, eum, quod tempore provident corrupti saepe fugit perspiciatis architecto, velit voluptas dolorem. Asperiores, quasi pariatur!</p>
      </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%- include('parts/bottom.ejs')%>